<html>
    <head>
        <title>error</title>
    </head>
    <body>
        error: please check the input and try again.<br>
        Bitrate: <%=bitrate%> <br>
        Duration: <%=duration%> <br>
        <a href="/">try again</a>
    </body>
</html>